In [35]:
import pandas as pd

In [36]:
data = pd.read_json('../Data/embedded.json')
data.head()

,Cat,SMS,SMSEmbedding
0,0,go until jurong point crazy available only in ...,"[-0.0770662278, 0.038455274000000005, 0.053468..."
1,0,ok lar joking wif u oni,"[-0.034477312100000004, -0.0569213219, -0.0687..."
2,1,free entry in 2 a wkly comp to win fa cup fina...,"[-0.0041251625000000005, -0.0160468351, -0.079..."
3,0,u dun say so early hor u c already then say,"[-0.06308691200000001, -0.015352385100000001, ..."
4,0,nah i dont think he goes to usf he lives aroun...,"[-0.0076267202, 0.0021486129, -0.0161035601, -..."

In [38]:
type(data['SMSEmbedding'][0])

list

In [39]:
newDF = pd.DataFrame.from_items(zip(data['SMSEmbedding'].index, data['SMSEmbedding'].values)).T

/home/arun/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  """Entry point for launching an IPython kernel.

In [40]:
newDF.head()

,0,1,2,3,4,5,6,7,8,9,...,502,503,504,505,506,507,508,509,510,511
0,-0.077066,0.038455,0.053469,-0.025224,0.020897,-0.004022,-0.064670,0.005046,0.018717,-0.042438,...,0.048199,0.042465,0.038816,0.023922,-0.065055,-0.088578,-0.021651,-0.092061,0.045637,0.021652
1,-0.034477,-0.056921,-0.068711,0.021581,-0.043099,-0.046592,0.028343,-0.053589,0.005075,-0.005698,...,0.035925,-0.056782,-0.062157,-0.006052,0.003217,-0.037603,0.003209,0.012908,0.033999,0.010041
2,-0.004125,-0.016047,-0.079963,0.004708,0.020015,-0.035611,-0.008871,-0.019396,0.057703,0.022730,...,0.026803,0.042051,0.017114,-0.049117,-0.021996,-0.049919,-0.016076,0.048127,-0.020049,-0.050567
3,-0.063087,-0.015352,-0.050716,-0.020496,-0.009424,-0.019780,0.014049,0.060049,0.034175,0.006114,...,0.086294,0.023545,-0.001173,0.015841,-0.022510,-0.019593,-0.003641,0.043026,-0.030183,-0.003405
4,-0.007627,0.002149,-0.016104,-0.036684,-0.006908,-0.005066,0.004883,0.004893,0.007086,0.004065,...,0.017546,-0.037545,0.077387,-0.016386,0.052120,-0.042491,0.013544,-0.014811,0.002757,-0.030296

In [41]:
newDF['512'] = data['Cat']

In [43]:
newDF.head()

,0,1,2,3,4,5,6,7,8,9,...,503,504,505,506,507,508,509,510,511,512
0,-0.077066,0.038455,0.053469,-0.025224,0.020897,-0.004022,-0.064670,0.005046,0.018717,-0.042438,...,0.042465,0.038816,0.023922,-0.065055,-0.088578,-0.021651,-0.092061,0.045637,0.021652,0
1,-0.034477,-0.056921,-0.068711,0.021581,-0.043099,-0.046592,0.028343,-0.053589,0.005075,-0.005698,...,-0.056782,-0.062157,-0.006052,0.003217,-0.037603,0.003209,0.012908,0.033999,0.010041,0
2,-0.004125,-0.016047,-0.079963,0.004708,0.020015,-0.035611,-0.008871,-0.019396,0.057703,0.022730,...,0.042051,0.017114,-0.049117,-0.021996,-0.049919,-0.016076,0.048127,-0.020049,-0.050567,1
3,-0.063087,-0.015352,-0.050716,-0.020496,-0.009424,-0.019780,0.014049,0.060049,0.034175,0.006114,...,0.023545,-0.001173,0.015841,-0.022510,-0.019593,-0.003641,0.043026,-0.030183,-0.003405,0
4,-0.007627,0.002149,-0.016104,-0.036684,-0.006908,-0.005066,0.004883,0.004893,0.007086,0.004065,...,-0.037545,0.077387,-0.016386,0.052120,-0.042491,0.013544,-0.014811,0.002757,-0.030296,0

In [44]:
newDF.to_json('../Data/formatted.json')